<!DOCTYPE html>
<html lang="en">
	<%- include("partials/head") %>
	<body>
		<%- include("partials/navbar") %>
		<h1>Home page <%= 1+2+3 %></h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro rerum
			eius ipsam quo vero, necessitatibus, animi esse nobis, commodi
			suscipit neque quas doloribus tempore amet delectus consequuntur
			quae voluptatem fugiat! Libero dolore iusto architecto, suscipit
			expedita dolorem beatae. Repellendus dolorem iusto molestiae ipsum.
			Nam explicabo recusandae incidunt, accusantium, ad sed, dicta
			accusamus dolore iusto nihil aperiam quae facilis eligendi? Dolore.
			Repellendus asperiores suscipit nulla explicabo, deserunt odio
			necessitatibus animi enim sunt, eius culpa voluptates quae. Illum
			omnis odio non aspernatur cupiditate labore aliquam odit ut,
			suscipit amet dolorum? Laboriosam, placeat?
		</p>
		<p>
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius at
			laborum possimus recusandae corrupti, veritatis sunt provident rerum
			neque! Modi eaque quidem cupiditate labore excepturi commodi amet
			saepe sequi at? Vero temporibus cupiditate at dolores unde quisquam,
			praesentium recusandae tenetur enim voluptatibus expedita nihil
			doloribus! Libero cupiditate esse reiciendis earum. Voluptates
			soluta deleniti ratione quibusdam. Ut nostrum veniam commodi
			perferendis.
		</p>
	</body>
</html>
