body{
    background-color: #fefae0;
}

button{
    background-color: #dda15e;
}

#busca{
    background-color: #283618;
    color: white;
}

h1,h2 {
    color: #bc6c25;
}

p{
    text-align: justify;
}

span{
    color: #f4a261;
}

.tag{
    color: #d90429;
}

.tercParte a{
    color:brown;
}

h2 + p{
    color:cadetblue;
}

input[type = "password"]{
    color:#d90429;
}

p a:active{
    background-color: #d90429;
}

.tercParte a:hover{
    text-decoration: none;
    color:orange;
}